@font-face { font-family: 'code128_S'; src: url('fonts/code128_S.woff'); }
@font-face { font-family: 'code128'; src: url('fonts/code128.woff'); }
@font-face { font-family: 'code128_L'; src: url('fonts/code128_L.woff'); }
@font-face { font-family: 'code128_XL'; src: url('fonts/code128_XL.woff'); }
@font-face { font-family: 'code128_XXL'; src: url('fonts/code128_XXL.woff'); }
.code_128_S { font-family: code128_S; font-size:11px }
.code_128 { font-family: code128; font-size:22px }
.code_128_L { font-family: code128_L; font-size:33px }
.code_128_XL { font-family: code128_XL; font-size:44px }
.code_128_XXL { font-family: code128_XXL; font-size:55px }
